:root{
    --default-under-line: solid rgb(199, 199, 199) 2px;
}
*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
}
p{
    font-size: x-large;
}
header{
    height: 20vh;
    width: 100vw;
    background-color: rgb(255, 125, 65);
    flex-direction: row;
    display: flex;
    align-content: center;
    justify-content: space-between;
    user-select: none;
}
header a img{
    width: 16vw;
    height: auto;
    justify-self: flex-start;
}
header a{
    justify-self: flex-start;
}
header nav{
    justify-self: flex-end;
    width: 70vw;
    margin-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header nav a{
    background-color: rgba(161, 86, 0, 0.164);
    padding-left: 3vw; padding-right: 3vw;
    padding-top: 2vh; padding-bottom: 2vh;
    border-radius: 10px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    transition: 100ms;
}
header nav a:hover{
    background-color: rgba(87, 46, 0, 0.603) !important;
}
.defaultM{
    background-color: rgb(255, 169, 130);
    font-size: x-large;
    font-weight: bold;
    color: white;
    height: 5vh;
    text-align: center;
    display: flex;
    align-items: center;
}
main{
    padding-top: 4vh;
    padding-left: 5vw;
    padding-right: 5vw;

    max-width: 100vw;

    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;
}
#roosterPreview{
    transition: 150ms;
    cursor: pointer;
}
#roosterPreview:hover{
    transform: scale(1.05);
}
#welkomInfo{
    width: 40vw;
}
#welkomInfo h1{
    /*  */
}
#welkomInfo img{
    width: inherit;
    height: 20vh;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 2vh;
}
.article{
    background-color: rgb(242, 242, 242);
    padding-left: 1vw; padding-right: 1vw;
    padding-top: 1vh; padding-bottom: 2vh;
    border-radius: 10px;
    width: 30vw;

    height: fit-content;
}
.articleH{
    border-bottom: solid rgb(199, 199, 199) 2px;
    padding-right: 2vw;
    width: fit-content;
    margin-bottom: 3vh;
}
#meeDoen button{
    margin-top: 3vh;
    width: 100%;
    margin-left: auto;
    height: fit-content;
    background-color: rgb(255, 125, 65);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: x-large;
    font-weight: bold;

    padding-top: 1vh;
    padding-bottom: 1vh;
}
#meeDoen button:hover{
    background-color: rgb(185, 81, 33) !important;
}
#meeDoen img{
    height: 15vh;
    width: 100%;
    object-fit: cover;
    margin-top: 4vh;
}
#rooster img{
    width: 100%;

}
.rounded{
    border-radius: 10px;
}
.article h2{
    margin-bottom: 2vh;
    border-bottom: var(--default-under-line);
    width: fit-content;
    padding-right: 2vw;
}
.article ul{
    padding-left: .75vw;
}
.article ul li{
    font-size: x-large;
}
#roosterPage{
    width: 80%;
    /* justify-self: center; */
    height: fit-content;
}
#roosterPage div{
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 2vh;

    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-left: 1vw;

    border-radius: 10px;
    width: 60vw;
}
#roosterPage div h3{
    font-size: xx-large;
    margin-bottom: 1.5vh;
}
#roosterPage div p{
    margin-bottom: .5vh;
}
#roosterPage div p:nth-child(2){
    font-size: x-large;
    font-weight: bold;
}
#roosterPage div p:nth-child(n+3):before{
    content: "➤ ";
}
#roosterDagSelect{
    width: 80vw !important;
    height: 10vh;
    /* justify-self: center; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 5vh;
}
#roosterDagSelect button{
    width: 15vw;
    height: 5vh;
    margin-right: 2vw;
    margin-bottom: 1.5vh;
    border-radius: 10px;
    border: none;
    font-size: x-large;
    color: white;
    font-weight: bold;
}

#b0{
    background-color: green;
}
#b1{
    background-color: blue;
}
#b2{
    background-color: purple;
}
#b3{
    background-color: crimson;
}
#b4{
    background-color:orangered;
}#b5{
    background-color:darkorchid;
}
#b6{
    background-color:indigo;
}

.d0{
    background-color: green;
}
.d1{
    background-color: blue;
}
.d2{
    background-color: purple;
}
.d3{
    background-color: crimson;
}
.d4{
    background-color:orangered;
}.d5{
    background-color:darkorchid;
}
.d6{
    background-color:indigo;
}

.daySelectButton{
    transition: 100ms;
}
.daySelectButton:hover{
    filter: brightness(80%);
}
.bSl{
    filter: brightness(60%);
}

.roosterDagdiv button{
    width: 50%;
    height: 4vh;
    border: none;
    margin-top: 2vh;
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 10px;
    color: white;
    font-size: x-large;
    font-weight: bold;

    transition: 100ms;
}
.roosterDagdiv button:hover{
    filter: brightness(50%);
}
#menuController{
    display: none;
    font-size: 15vw;
    width: 15vw;
}

/* responsive dingen... ;-; */

@media screen and (max-width: 480px) and (min-width: 0px) {
    header{
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        padding-left: 0; padding-right: 0;
    }
    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0; padding-right: 0;
        width: 100%;

        /* alleen voor debuggen */
        display: none;
    }
    header nav a{
        width: 100%;
        text-align: center;
        margin-bottom: 2vh;
    }
    header a img{
        width: 40vw;
        height: auto;
    }
    #menuController{
        display: block;
        position: absolute;
        top: 1vh;
        left: 1vw;
        color: white;
        width: 5vw;
        /* font-size: 10vw; */
    }
    main{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .article{
        width: 90% !important;
        align-self: center;
        margin-bottom: 2vh;
        padding-left: 5vw; padding-right: 5vw;
    }
    #meedoen button{
        height: fit-content;
    }
    .article ul{
        margin-left: 4.5vw;
    }

    #roosterPage{
        padding-left: 2.5vw !important	;
    }
    #roosterMain{
        padding-left: 1.5vw !important;
    }
    #roosterDagSelect{
        width: 100vw !important;
        height: fit-content;
    }
    #roosterDagSelect button{
        width: 40%;
        font-size: 100%;
    }
    #roosterPage div{
        /* margin-top: 5vh; */
    }
    .roosterDagdiv{
        margin-top: 1vh;
        width: 80vw !important;
        padding-left: 5vw !important;
        align-self: center;
    }
}
@media screen and (max-width: 1200px) and (min-width: 481px){
        header{
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        padding-left: 0; padding-right: 0;
    }
    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0; padding-right: 0;
        width: 100%;

        /* alleen voor debuggen */
        display: none;
    }
    header nav a{
        width: 100%;
        text-align: center;
        margin-bottom: 2vh;
    }
    header a img{
        width: 40vw;
        height: auto;
    }
    #menuController{
        display: block;
        position: absolute;
        top: 1vh;
        left: 1vw;
        color: white;
        width: 5vw;
        /* font-size: 10vw; */
    }

        main{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .article{
        width: 90% !important;
        align-self: center;
        margin-bottom: 2vh;
        padding-left: 5vw; padding-right: 5vw;
    }
    .article h1{
        font-size: 7vw;
    }
    .article p{
        font-size: 3.5vw;
    }
    #meedoen button{
        height: fit-content;
    }
    .article ul{
        margin-left: 4.5vw;
    }
    #meeDoen button{
        font-size: 5.5vw;
    }


    #roosterDagSelect{
        width: 100vw !important;
        height: fit-content;
        flex-direction: row !important	;
        align-items: start !important;
    }
    #roosterDagSelect button{
        width: 60% !important;
        font-size: 100%;
        align-self: flex-start;
    }
    #roosterPage div{
        /* margin-top: 5vh; */
    }
    .roosterDagdiv{
        margin-top: 1vh;
        width: 70vw !important;
        padding-left: 5vw !important;
    }


}

